@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "WavvePADO-Regular";
}

.container8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* background-image: url("/public/image/Main2.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid whitesmoke;
  padding: 30px;
  border-radius: 40px;
  background-color: whitesmoke;
  width: 400px;
  height: 760px;
}

.mypageM p {
  font-size: 30px;
  border: 2px solid #05e3eb; /* 테두리 설정 */
  background-color: transparent; /* 배경색 투명 설정 */
  padding: 10px 20px; /* 내부 여백 설정 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 그림자 효과 설정 */
  width: 330px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.content8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content8 p {
  font-size: 25px;
  margin-bottom: 40px;
}

.writeM {
  background-color: #bef6f8;
  width: 200px;
  margin-top: 30px;
  height: 50px;
  border-radius: 20px;
  font-size: 25px;
}
